/* FONTS */
	@font-face {
		font-family:'GalatiaSIL';
		src:url('../fonts/GalatiaSIL/GalatiaSIL.eot');
		src:url('../fonts/GalatiaSIL/GalatiaSIL.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GalatiaSIL/GalatiaSIL.woff2') format('woff2'),
		url('../fonts/GalatiaSIL/GalatiaSIL.woff') format('woff'),
		url('../fonts/GalatiaSIL/GalatiaSIL.ttf') format('truetype'),
		url('../fonts/GalatiaSIL/GalatiaSIL.svg#svgFontName') format('svg');
	}
	@font-face {
		font-family:'Cicle';
		src:url('../fonts/Cicle/Cicle.eot');
		src:url('../fonts/Cicle/Cicle.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cicle/Cicle.woff2') format('woff2'),
		url('../fonts/Cicle/Cicle.woff') format('woff'),
		url('../fonts/Cicle/Cicle.ttf') format('truetype'),
		url('../fonts/Cicle/Cicle.svg#svgFontName') format('svg');
	}
	@font-face {
		font-family:'Bebas';
		src:url('../fonts/Bebas/Bebas.eot');
		src:url('../fonts/Bebas/Bebas.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas/Bebas.woff2') format('woff2'),
		url('../fonts/Bebas/Bebas.woff') format('woff'),
		url('../fonts/Bebas/Bebas.ttf') format('truetype'),
		url('../fonts/Bebas/Bebas.svg#svgFontName') format('svg');
	}
	@font-face {
		font-family:'Quicksand';
		src:url('../fonts/Quicksand/Quicksand.eot');
		src:url('../fonts/Quicksand/Quicksand.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Quicksand/Quicksand.woff2') format('woff2'),
		url('../fonts/Quicksand/Quicksand.woff') format('woff'),
		url('../fonts/Quicksand/Quicksand.ttf') format('truetype'),
		url('../fonts/Quicksand/Quicksand.svg#svgFontName') format('svg');
	}
/* STANDARD CSS */
	* {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-backface-visibility:hidden;
		-webkit-transition:none;
	}
	html {
		overflow-x:hidden;
	}
	body {
		overflow-x:hidden;
		margin:0;
		padding:0;
	}
	a {
		text-decoration:none;
	}
	span.anchor {
		display:block;
		height:72.5px;
		margin-top:-72.5px;
		visibility:hidden;
	}
	div.loader {
		-webkit-position:fixed;
		-moz-position:fixed;
		-o-position:fixed;
		-ms-position:fixed;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		-webkit-z-index:9999;
		-moz-z-index:9999;
		-o-z-index:9999;
		-ms-z-index:9999;
		z-index:9999;
		background:url('../img/loading_icon_double_rings.gif') 50% 50% no-repeat rgb(255,255,255);
	}
	.hidden {
		visibility:hidden;
		opacity:0;
	}
	.visible {
		visibility:visible;
		opacity:1;
	}
	.middle {
		-webkit-transition:visibility 0s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
		-moz-transition:visibility 0s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
		-o-transition:visibility 0s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
		-ms-transition:visibility 0s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
		transition:visibility 0s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
	}
/* HOME */
	#home div.parallax-window {
		height:100vh;
		background-image:url("../img/shipping_containers.jpeg");
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		-ms-background-size:cover;
		background-size:cover;
		background-position:50% 50%;
	}
	#home div.parallax-window header {
		background-color: rgb(2,186,242);
		box-shadow:0px 0px 5px 1px rgb(0,0,0);
		-webkit-position:fixed;
		-moz-position:fixed;
		-o-position:fixed;
		-ms-position:fixed;
		position:fixed;
		width:100%;
		padding:12px 15px;
		-webkit-z-index:9997;
		-moz-z-index:9997;
		-o-z-index:9997;
		-ms-z-index:9997;
		z-index:9997;
	}
	#home div.parallax-window header div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
	}
	#home div.parallax-window header div.container a.logobox  {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	#home div.parallax-window header div.container a img {
		width:auto;
		height:30px;
	}
	#home div.parallax-window header div.container a h1 {
		font-family:'Cicle';
		font-weight: 800;
		color:rgb(255,255,255);
		font-size:15px;
		margin:0;
		margin-top:2.5px;
	}
	#home div.parallax-window header div.container nav {
		display:none;
		position:absolute;
		right:5px;
		bottom:15px;
	}
	#home div.parallax-window header div.container nav a {
		padding:10px;
		padding-left:20px;
		padding-right:20px;
		margin-left:5px;
		margin-right:5px;
		font-family:'Cicle';
		font-weight: 800;
		color:rgb(255,255,255);
		font-size:17.5px;
		border:2.5px solid rgb(255,255,255);
	}
	#home div.parallax-window header div.container nav a:hover {
		border-color: rgb(2,186,242);
		color: rgb(2,186,242);
		background-color: rgb(255,209,66);
	}
	#home div.parallax-window header div.container nav a.nav-position {
		border-color: rgb(2,186,242) !important;
		color: rgb(2,186,242) !important;
		background-color: rgb(255,209,66) !important;
	}
	html.can-touch #home div.parallax-window header div.container nav a:hover {
		border-color:rgb(255,255,255);
		color:rgb(255,255,255);
		background-color: transparent;
	}
	#home div.parallax-window header div.container div.hidden-container {
		position:absolute;
		right:5px;
		bottom:5px;
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon {
		position:relative;
		right:0;
		bottom:0;
		height:20px;
		width:25px;
		cursor:pointer;
	}
	body.nojs #home div.parallax-window header div.container div.hidden-container div.menu-icon {
		display:none;
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon span {
		position:absolute;
		left:0;
		display:block;
		height:4px;
		width:100%;
		opacity:1;
		background: rgb(255,255,255);
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
		border-radius:5px;
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
		-webkit-transition:0.5s ease-in-out;
		-moz-transition:0.5s ease-in-out;
		-o-transition:0.5s ease-in-out;
		-ms-transition:0.5s ease-in-out;
		transition:0.5s ease-in-out;
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon span:nth-child(1) {
		top:0;
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon span:nth-child(2),
	#home div.parallax-window header div.container div.hidden-container div.menu-icon span:nth-child(3) {
		top:8px;
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon span:nth-child(4) {
		top:16px;
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon.open span {
		background: rgb(255,209,66);
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon.open span:nth-child(1),
	#home div.parallax-window header div.container div.hidden-container div.menu-icon.open span:nth-child(4) {
		top:8px;
		width:0%;
		left:50%;
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon.open span:nth-child(2) {
		-webkit-transform:rotate(225deg);
		-moz-transform:rotate(225deg);
		-o-transform:rotate(225deg);
		-ms-transform:rotate(225deg);
		transform:rotate(225deg);
	}
	#home div.parallax-window header div.container div.hidden-container div.menu-icon.open span:nth-child(3) {
		-webkit-transform:rotate(-225deg);
		-moz-transform:rotate(-225deg);
		-o-transform:rotate(-225deg);
		-ms-transform:rotate(-225deg);
		transform:rotate(-225deg);
	}
	#home div.parallax-window header div.container div.hidden-container nav {
		display:none;
		position:absolute;
		right:-20px;
		top:37px;
		height:100vh;
		width:100vw;
		padding:15px;
		background-color: rgb(2,186,242);
		text-align:center;
	}
	#home div.parallax-window header div.container div.hidden-container nav a {
		display:block;
		padding:10px;
		padding-left:20px;
		padding-right:20px;
		margin-top:5px;
		margin-bottom:5px;
		font-family:'Cicle';
		font-weight: 800;
		font-size:17.5px;
	}
	#home div.parallax-window header div.container div.hidden-container nav a.nav-position {
		border-color: rgb(2,186,242) !important;
		color: rgb(2,186,242) !important;
		background-color: rgb(255,209,66) !important;
	}
	#home div.parallax-window div.box {
		padding-top:72.5px;
		text-align:center;
		position:absolute;
		width:100%;
		bottom:50%;
		left:50%;
	  -webkit-transform:translate(-50%, 50%);
	  -moz-transform:translate(-50%, 50%);
	  -o-transform:translate(-50%, 50%);
	  -ms-transform:translate(-50%, 50%);
	  transform:translate(-50%, 50%);
	}
	#home div.parallax-window div.box img {
		height:auto;
		width:65vmin;
		margin-bottom:2vh;
	}
	#home div.parallax-window div.box p {
		font-family:'Cicle';
		font-weight: 800;
		font-weight: 800;
		color:rgb(255,255,255);
		font-size:10vmin;
		margin:0;
		margin-bottom:7vh;
	}
	#home div.parallax-window div.box a {
		padding:15px;
		padding-left:30px;
		padding-right:30px;
		font-family:'Cicle';
		font-weight: 800;
		background-color: rgb(2,186,242);
		color:rgb(255,255,255);
		font-size:25px;
		border:3px solid rgb(255,255,255);
	}
	#home div.parallax-window div.box a:hover {
		border-color: transparent;
		color: rgb(2,186,242);
		background-color: rgb(255,209,66);
	}
	html.can-touch #home div.parallax-window div.box a:hover {
		border-color:rgb(255,255,255);
		color:rgb(255,255,255);
		background-color: rgb(2,186,242);
	}
/* ABOUT */
	#about div.layer {
		background-color: rgb(255,255,255);
	}
	#about div.layer div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
		font-size:0;
	}
	#about div.layer div.container h2 {
		font-family:'Cicle';
		font-weight: 800;
		color: rgb(2,186,242);
		font-size:50px;
		margin-top:15px;
		margin-bottom:15px;
	}
	#about div.layer div.container div.wrapper {
		width:100%;
		display:inline-block;
		vertical-align:top;
	}
	#about div.layer div.container div.wrapper div.box {
		width:100%;
		display:inline-block;
		vertical-align:middle;
		padding-top:15px;
		padding-bottom:15px;
		max-width: 300px;
	}
	#about div.layer div.container div.wrapper div.box img {
		height:auto;
		width:100%;
		border:3px solid rgb(255,209,66);
	}
	#about div.layer div.container div.wrapper div.box p {
		font-family:'Cicle';
		font-weight: 800;
		color:rgb(40,40,40);
		font-size:18px;
		margin:0;
		text-align:justify;
	}
	/*
	#about div.layer div.container div.wrapper div.box a {
		padding:15px;
		padding-left:30px;
		padding-right:30px;
		font-family:'Cicle';
		display: inline-block;
		margin:25px 0 15px;
		font-weight: 800;
		background-color: rgb(2,186,242);
		color:rgb(255,255,255);
		font-size:25px;
		border:3px solid rgb(255,255,255);
		border-color:rgb(255,209,66);
	}
	#about div.layer div.container div.wrapper div.box a:hover {
		border-color: transparent;
		color: rgb(2,186,242);
		background-color: rgb(255,209,66);
	}
	html.can-touch #about div.layer div.container div.wrapper div.box a:hover {
		border-color:rgb(255,255,255);
		color:rgb(255,255,255);
		background-color: rgb(2,186,242);
	}
	*/
/* SERVICES */
	#services div.layer {
		background-color: rgb(2,186,242);
	}
	#services div.layer div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
		font-size:0;
	}
	#services div.layer div.container h2 {
		font-family:'Cicle';
		font-weight: 800;
		color:rgb(255,255,255);
		font-size:50px;
		margin-top:15px;
		margin-bottom:30px;
	}
	#services div.layer div.container div.wrapper {
		width:100%;
		display:inline-block;
		padding:15px;
	}
	#services div.layer div.container div.wrapper div.box {
		width:100%;
		display:inline-block;
		vertical-align:top;
		background-color:rgb(230,230,230);
		background: -webkit-linear-gradient(left top, rgb(230,230,230), rgb(255,255,255));
		background: -o-linear-gradient(bottom right, rgb(230,230,230), rgb(255,255,255));
		background: -moz-linear-gradient(bottom right, rgb(230,230,230), rgb(255,255,255));
		background: linear-gradient(to bottom right, rgb(230,230,230), rgb(255,255,255));
		border:4px solid  rgb(255,209,66);
	}
	#services div.layer div.container div.wrapper div.box h3 {
		font-family:'Cicle';
		font-weight: 800;
		padding:15px;
		margin:0;
		background-color: rgb(255,209,66);
		color:rgb(40,40,40);
		font-size:25px;
		text-align:justify;
	}
	#services div.layer div.container div.wrapper div.box p {
		font-family:'Cicle';
		font-weight: 800;
		padding:15px;
		color:rgb(40,40,40);
		font-size:18px;
		text-align:justify;
	}
/* PRODUCTS */
	#products div.layer {
		background-color:rgb(255,209,66);
	}
	#products div.layer div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
		font-size:0
	}
	#products div.layer div.container h2 {
		font-family:'Cicle';
		font-weight: 800;
		color: rgb(2,186,242);
		font-size:50px;
		margin-top:15px;
		margin-bottom:30px;
	}
	#products div.layer div.container div.wrapper {
		width:100%;
		display:inline-block;
		padding:15px;
	}
	#products div.layer div.container div.wrapper div.box {
		position:relative;
		height:200px;
		width:100%;
		display:inline-block;
		padding:0;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		-ms-background-size:cover;
		background-size:cover;
		background-position:50% 100%;
		border:4px solid rgb(2,186,242,0.8);
	}
	#products div.layer div.container div.wrapper:nth-child(2) div.box {
		background-image:url("../img/fencing.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(3) div.box {
		background-image:url("../img/solar.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(4) div.box {
		background-image:url("../img/agriculture.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(5) div.box {
		background-image:url("../img/pizza_ovens.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(6) div.box {
		background-image:url("../img/food_trailers.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(7) div.box {
		background-image:url("../img/camper_trailers.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(8) div.box {
		background-image:url("../img/storage_cages.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(9) div.box {
		background-image:url("../img/storage_containers.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(10) div.box {
		background-image:url("../img/leds.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(11) div.box {
		background-image:url("../img/general_lighting.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(12) div.box {
		background-image:url("../img/mining_equipment.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(13) div.box {
		background-image:url("../img/safety_goods.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(14) div.box {
		background-image:url("../img/building_equipment.JPG");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(15) div.box {
		background-image:url("../img/horse_floats.JPG");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(16) div.box {
		background-image:url("../img/tires_and_wheels.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(17) div.box {
		background-image:url("../img/furniture.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(18) div.box {
		background-image:url("../img/office_furniture.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(19) div.box {
		background-image:url("../img/glass.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(20) div.box {
		background-image:url("../img/ceramic_pots.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(21) div.box {
		background-image:url("../img/stainless_steel.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper:nth-child(22) div.box {
		background-image:url("../img/kayaks_and_boards.jpg");
		background-color: rgb(2,186,242);
	}
	#products div.layer div.container div.wrapper div.box:hover h3 {
		height:192px;
		padding-top:81px
	}
	html.can-touch #products div.layer div.container div.wrapper div.box h3 {
		height:63px;
		padding-top:15px
	}
	#products div.layer div.container div.wrapper div.box h3 {
		height:63px;
		position:absolute;
		bottom:0;
		width:100%;
		font-family:'Cicle';
		font-weight: 800;
		padding:15px;
		margin:0;
		color:rgb(255,255,255);
		font-size:30px;
		background-color:rgb(2,186,242,0.8);
		text-align:center;
		-webkit-transition:height 0.25s linear,	padding-top 0.25s linear;
		-moz-transition:height 0.25s linear, padding-top 0.25s linear;
		-o-transition:height 0.25s linear, padding-top 0.25s linear;
		-ms-transition:height 0.25s linear,	padding-top 0.25s linear;
		transition:height 0.25s linear,	padding-top 0.25s linear
	}
	#products div.layer div.container div.box {
		width:100%;
		display:inline-block;
		padding:15px
	}
	#products div.layer div.container div.box div.inner {
		width:100%;
		display:inline-block;
		vertical-align:middle;
		padding:15px;
		background-color:rgb(2,186,242);
		border:4px solid  rgb(255,255,255);
	}
	#products div.layer div.container div.box div.inner div {
		display:inline-block
	}
	#products div.layer div.container div.box div.inner div p {
		font-family:'Cicle';
		font-weight: 800;
		color:rgb(255,255,255);
		font-size:18px;
		text-align:justify
	}
/* MEET THE TEAM */
	#meet-the-team div.layer {
		background-color: rgb(255,255,255);
	}
	#meet-the-team div.layer div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
		font-size:0;
	}
	#meet-the-team div.layer div.container h2 {
		font-family:'Cicle';
		font-weight: 800;
		color: rgb(2,186,242);
		font-size:50px;
		margin-top:15px;
		margin-bottom:30px;
	}
	#meet-the-team div.layer div.container div.wrapper {
		width:100%;
		display:inline-block;
		vertical-align:top;
		padding:5px;
		padding-bottom:15px;
	}
	#meet-the-team div.layer div.container div.wrapper div.box {
		width:100%;
		display:inline-block;
		vertical-align:middle;
		padding-top:15px;
		padding-bottom:15px;
	}
	#meet-the-team div.layer div.container div.wrapper div.box img {
		height:auto;
		width:100%;
		max-width: 300px;
		border:3px solid rgb(255,255,255);
		box-shadow: 3px 3px 12px -6px rgb(40,40,40);
	}
	#meet-the-team div.layer div.container div.wrapper div.box p {
		font-family:'Cicle';
		font-weight: 800;
		color: rgb(2,186,242);
		font-size:30px;
		margin:0;
		text-align:center;
	}
	#meet-the-team div.layer div.container div.wrapper div.box div.spcer-dash {
		width:25px;
		border: 2px solid rgb(255,209,66);
		display: inline-block;
		margin-top: 10px;
	}
	#meet-the-team div.layer div.container div.wrapper div.box p span {
		font-size:18px;
		font-style: italic;
		color:rgb(40,40,40);
	}
/* CONTACT */
	#contact div.layer {
		background-image:url("../img/brick_wall.jpg");
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		-ms-background-size:cover;
		background-size:cover;
		background-position:50% 50%;
	}
	#contact div.layer div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
		font-size:0;
	}
	#contact div.layer div.container h2 {
		font-family:'Cicle';
		font-weight: 800;
		color:rgb(255,255,255);
		font-size:50px;
		margin-top:15px;
		margin-bottom:30px;
	}
	#contact div.layer div.container img {
		padding:15px;
		height:auto;
		width:100%;
		max-width:500px;
		margin-bottom: 15px;
	}
	#contact div.layer div.container form {
		padding-bottom:10px;
	}
	#contact div.layer div.container form div.inner {
		width:100%;
		display:inline-block;
		vertical-align:middle;
		padding:5px;
	}
	#contact div.layer div.container form div.inner input {
		margin-bottom:15px;
		padding:15px;
		padding-left:15px;
		padding-right:15px;
		width:100%;
		font-family:'Cicle';
		font-weight: 800; 
		font-size:20px;
		background-color:rgb(2,186,242,0.8);
		color: rgb(255,209,66);
		text-decoration:none; 
		display:inline-block;
		border:3px solid rgb(255,255,255);
	}
	#contact div.layer div.container form div.inner input:nth-child(4) {
		display:none;
	}
	#contact div.layer div.container form div.inner textarea {
		height:120px;
		margin-bottom:15px;
		padding:15px;
		padding-left:15px;
		padding-right:15px;
		width:100%;
		font-family:'Cicle';
		font-weight: 800; 
		font-size:20px;
		background-color:rgb(2,186,242,0.8);
		color: rgb(255,209,66);
		text-decoration:none; 
		display:inline-block;
		border:3px solid rgb(255,255,255);
	}
	#contact div.layer div.container form div.inner input::-webkit-input-placeholder {
    color:rgb(200,200,200);
	}
	#contact div.layer div.container form div.inner input:-moz-placeholder {
    color:rgb(200,200,200);
    opacity:1;
	}
	#contact div.layer div.container form div.inner input::-moz-placeholder {
    color:rgb(200,200,200);
    opacity:1;
	}
	#contact div.layer div.container form div.inner input:-ms-input-placeholder {
    color:rgb(200,200,200);
	}
	#contact div.layer div.container form div.inner textarea::-webkit-input-placeholder {
    color:rgb(200,200,200);
	}
	#contact div.layer div.container form div.inner textarea:-moz-placeholder {
    color:rgb(200,200,200);
    opacity:1;
	}
	#contact div.layer div.container form div.inner textarea::-moz-placeholder {
    color:rgb(200,200,200);
    opacity:1;
	}
	#contact div.layer div.container form div.inner textarea:-ms-input-placeholder {
    color:rgb(200,200,200);
	}
	#home div.parallax-window div.box a:hover {
		border-color: transparent;
		color: rgb(2,186,242);
		background-color: rgb(255,209,66);
	}
	html.can-touch #home div.parallax-window div.box a:hover {
		border-color:rgb(255,255,255);
		color:rgb(255,255,255);
		background-color: transparent;
	}	
	#contact div.layer div.container form input.submit {
		cursor:pointer;
		padding:15px;
		padding-left:30px;
		padding-right:30px;
		font-family:'Cicle';
		font-weight: 800; 
		font-size:20px;
		background-color: rgb(2,186,242);
		color:rgb(255,255,255);
		text-decoration:none; 
		display:inline-block;
		border:3px solid rgb(255,255,255);
	}
	#contact div.layer div.container form input.submit:hover {
		border-color: transparent;
		color: rgb(2,186,242);
		background-color: rgb(255,209,66);
	}
	html.can-touch #contact div.layer div.container form input.submit:hover {
		border-color:rgb(255,255,255);
		color:rgb(255,255,255);
		background-color: rgb(2,186,242);
	}
	#contact div.layer div.container div.thank-you-box {
		width:100%;
		display:table;
		min-height:442px;
		max-height:442px;
		padding:15px;
		max-width: 600px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
	}
	#contact div.layer div.container div.thank-you-box div {
		width:100%;
		display:table-cell;
		vertical-align:middle;
	}
	#contact div.layer div.container div.thank-you-box p.thank-you {
		font-family:'Cicle';
		font-weight: 800; 
		font-size:25px;
		color:rgb(255,255,255);
	}
	#contact div.layer div.container div.thank-you-box p.thank-you span {
		color: rgb(255,209,66);
	}
	#contact div.layer div.container div.thank-you-box p.thank-you a {
		font-family:'Cicle';
		font-weight: 800; 
		font-size:25px;
		color:rgb(255,209,66);
		text-decoration:underline;
	}
/* FOOTER */
	#footer footer div.layer {
		background-color:rgb(40,40,40);
	}
	#footer footer div.layer div.container {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:5px;
		padding-top:35px;
	}
	#footer footer div.layer div.container div.wrapper {
		width:100%;
		display:inline-block;
		padding:15px 0;
	}
	#footer footer div.layer div.container div.wrapper div.box {
		display:inline-block;
		vertical-align:top;
		padding:15px 0;
	}
	#footer footer div.layer div.container div.wrapper:nth-child(3) div.box {
		width:100%;
		padding:15px 0;
	}
	#footer footer div.layer div.container div.wrapper:nth-child(2) {
		padding:15px 0;
	}
	#footer footer div.layer div.container div.wrapper:nth-child(3) {
		padding:0;
	}
	#footer footer div.layer div.container div.wrapper:nth-child(2) div.box {
		padding:0;
		padding-left:15px;
		padding-right:15px;
	}
	#footer footer div.layer div.container div {
		vertical-align:middle;
	}
	#footer footer div.layer div.container div div {
		display:inline-block;
		padding-left:39.5px;
		padding-right:39.5px;
	}
	#footer footer div.layer div.container div div a {
		display:inline-block;
	}
	#footer footer div.layer div.container div div a img {
		width:240px;
		height:auto;
		margin-top:15px;
	}
	#footer footer div.layer div.container div div a h2 {
		font-family:'Cicle';
		color:rgb(255,255,255);
		font-size:37px;
		margin:0;
		margin-bottom:10px; 
	}
	#footer footer div.layer div.container div.wrapper div.box p span {
		color: rgb(2,186,242);
	}
	#footer footer div.layer div.container div.wrapper div.box p {
		font-family:'Cicle';
		font-weight: 800;
		color: rgb(255,255,255);
		font-size:25px;
		margin:5px 0;
	}
	#footer footer div.layer div.container div.wrapper div.box p.yellow {
		color: rgb(255,209,66);
	}
	#footer footer div.layer div.container div.wrapper div.box:nth-child(3) p span {
		font-size:18px;
	}
	#footer footer div.layer div.container div.wrapper:nth-child(2) div.box p {
		font-size:18px;
		text-align:justify;
	}
	#footer footer div.layer div.container p.copyright {
		font-family:'Cicle';
		font-weight: 800;
		color: rgb(255,255,255);
		font-size:15px;
		margin:25px 0 30px;
		letter-spacing:0.25px;
		padding-left:0.25px;
	}
	#footer footer div.layer div.container p.copyright span {
	}
	#footer footer a div.layer.powered-by {
		background-color:rgb(255,255,255);
	}
	#footer footer a div.layer div.container.powered-by {
		width:100%;
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		text-align:center;
		padding:15px;
	}
	#footer footer a div.layer div.container.powered-by p {
		font-family:'Quicksand';
		color:rgb(25,27,29);
		font-size:15px;
		margin-top:0;
		margin-bottom:5px;
	}
	#footer footer a div.layer div.container.powered-by img {
		width:30px;
		height:auto;
		margin:0;
	}
	#footer footer a div.layer div.container.powered-by p:nth-child(3) {
		display:inline;
		font-family:'Bebas';
		color:rgb(25,27,29);
		font-size:15px;
		font-weight:800;
		letter-spacing:3.75px;
		padding-left:3.75px;
	}
	#footer footer a div.layer div.container.powered-by p:nth-child(4) {
		font-family:'Quicksand';
		color:rgb(25,27,29);
		font-size:12.5px;
		margin-top:15px;
		margin-bottom:0;
	}
/* MEDIA QUERIES */
	@media screen and (orientation:landscape) and (max-height:400px) {
		#home div.parallax-window header div.container div.hidden-container nav a {
			padding:5px;
			margin-top:2px;
			margin-bottom:2px;
		}
	}
	@media screen and (min-width:550px) {
		#about div.layer div.container {
			padding-top:25px;
			padding-bottom:25px;
		}
		#about div.layer div.container div.wrapper {
			width:100%;
			padding:15px;
		}
		#about div.layer div.container div.wrapper div.box {
			width:50%;
		}
		#about div.layer div.container div.wrapper div.box:nth-child(odd) {
			padding-right:15px;
		}
		#about div.layer div.container div.wrapper div.box:nth-child(even) {
			padding-left:15px;
		}
		#meet-the-team div.layer div.container {
			padding-top:25px;
			padding-bottom:25px;
		}
		#meet-the-team div.layer div.container div.wrapper {
			width:100%;
			padding:15px;
		}
		#meet-the-team div.layer div.container div.wrapper div.box {
			width:50%;
		}
		#meet-the-team div.layer div.container div.wrapper div.box:nth-child(odd) {
			padding-right:7.5px;
		}
		#meet-the-team div.layer div.container div.wrapper div.box:nth-child(even) {
			padding-left:7.5px;
		}
	}
	@media screen and (min-width:600px) {
		#services div.layer div.container {
			padding-top:25px;
			padding-bottom:25px;
		}
		#services div.layer div.container div.wrapper {
			width:50%;
		}
		#products div.layer div.container div.box div.inner div p {
			font-size:25px;
		}
		#products div.layer div.container {
			padding-top:25px;
			padding-bottom:25px;
		}
		#products div.layer div.container div.wrapper {
			width:50%;
		}
		#contact div.layer div.container {
			padding-top:25px;
			padding-bottom:25px;
		}
		#contact div.layer div.container form div.inner {
			width:50%;
			vertical-align:top;
		}
		#contact div.layer div.container form div.inner textarea {
			height:204px;
		}
		#contact div.layer div.container div.thank-you-box {
			min-height:297px;
			max-height:297px;
		}
	}
	@media screen and (min-width:760px) {
		#about div.layer div.container {
			padding-top:45px;
			padding-bottom:45px;
		}
		#about div.layer div.container div.wrapper {
			width:33.33%
		}
		#about div.layer div.container div.wrapper div.box {
			width:100%;
		}
		#about div.layer div.container div.wrapper div.box:nth-child(odd) {
			padding-right:0;
		}
		#about div.layer div.container div.wrapper div.box:nth-child(even) {
			padding-left:0;
		}
		#meet-the-team div.layer div.container {
			padding-top:45px;
			padding-bottom:45px;
		}
		#meet-the-team div.layer div.container div.wrapper {
			width:33.33%
		}
		#meet-the-team div.layer div.container div.wrapper div.box {
			width:100%;
		}
		#meet-the-team div.layer div.container div.wrapper div.box:nth-child(odd) {
			padding-right:0;
		}
		#meet-the-team div.layer div.container div.wrapper div.box:nth-child(even) {
			padding-left:0;
		}
		#services div.layer div.container {
			padding-top:45px;
			padding-bottom:45px;
		}
		#products div.layer div.container {
			padding-top:45px;
			padding-bottom:45px;
		}
		#contact div.layer div.container {
			padding-top:45px;
			padding-bottom:45px;
		}
	}
	@media screen and (min-width:875px) {
		#products div.layer div.container div.wrapper {
			width:33.33%;
		}
	}
	@media screen and (min-width:900px) {
		#home div.parallax-window header div.container div.hidden-container div.menu-icon {
			display:none;
		}
		#home div.parallax-window header div.container nav {
			display:block;
		}
		#home div.parallax-window header div.container div.hidden-container nav {
			top:19px;
		}
	}
